body {
    color: white;
    background-color: black;
    size: 100%;
    cursor: none;
}

#logo {
    margin-top: 2%;
    margin-bottom: 5%;
    text-align: center;
    justify-content: center;
    font-size: 26px;
    font-family: 'Pixel';
}

#maze {
    pointer-events: none;
    margin: 0 auto;
    display: grid;
    grid: 10px;
    height: 70vh;
    width: 70vw;
}

#life {
    display: flex;
    justify-content: center;
    text-align: center;
}

#hero {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: aquamarine;
    z-index: 2;
}

.tractor {
    background-color: red;
}

.true {
    position: relative;
    background-color: #FFFFFF00;
}

.false {
    position: relative;
    background-color: #FFFFFF;
}

@font-face {
    font-family: 'Pixel';
    src: url('PressStart2P-Regular.ttf');
}
