.frame{ 
    width: 420px; 
    height: 595px;
    margin: 200px auto;
    background: #262626; 
    border-radius: 10px;
    font-family: "Pixels";
   }

.entry_field {
    width: 400px;
    height: 75px;
    margin: 5px;
    border-radius: 10px;
    border: none;
    padding: auto;
    background-color: #00000000;
    font-size: 30px;
    text-align: right;
    outline: none;
    font-family: "Pixels";
    color:rgb(13, 0, 255);
}

.output_field {
    width: 400px;
    height: 75px;
    margin: 5px;
    border-radius: 10px;
    border: none;
    padding: auto;
    background-color: #00000000;
    font-size: 30px;
    text-align: left;
    resize: none;
    outline: none;
    cursor:default;
    color: rgb(13, 0, 255);
    font-family: "Pixels";
}



.keyboard {
    width: 400px;
    height: 405px;
    text-align: center;
    margin: 0 auto;
}

button {
    border-radius: 50%;
    border: none;
    width: 78px;
    height: 78px;
    font-size: 20px;
    font-weight: 600;
    color: #262626;
    cursor: pointer;
    font-family: "Pixels";
}


@font-face {
    font-family: "Pixels";
    src: url(PressStart2P-Regular.ttf);
}